#home-container {
  display: flex;
}
#feed-posts {
  width: 70%;
  padding: 10px;
}
#user-friends {
  width: 50%;
  padding: 10px;
  border-left: 1px solid lightgrey;
  height: 100%;
}

#feed-posts textarea {
  width: 50%;
}
